<?php

$sitename = 'CHANGEME';   //use the username on our servers like testsite_ch
$options['newrelic-api-key'] = 'CHANGEME';
$options['deploy-repository'] = 'git@github.com:AmazeeLabs/CHANGEME.git';

if (!function_exists("deploy_after_deploy_symlink_tasks")) {
  function deploy_after_deploy_symlink_tasks($d) {
      //deploy_update_task($d);
      //deploy_cache_task($d);
      deploy_newrelic_task($d);
  }
}

// - And we load the aliases file here
global $aliases_stub;
if (empty($aliases_stub)) {
  $aliases_stub = file_get_contents('https://raw.githubusercontent.com/AmazeeLabs/devops/master/drush-deployment/aliases.drushrc.php.stub?' . rand(0, 99999999999));
}
eval($aliases_stub);
